Repository formulavize/formulavize: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss,html,yml,yaml}": ["prettier --write"]
}

refactor: rename files to describe types handled
  src/compiler/astToDag.ts
  src/compiler/dagToCyGraph.ts
  src/compiler/dagToCyPopperExtension.ts
  src/compiler/dagToCyStyleSheets.ts
  src/compiler/driver.ts
  src/compiler/editorToAst.ts
  src/components/GraphView.vue
  tests/unit/common/astFactory.test.ts
  tests/unit/common/cyGraphFactory.test.ts
  tests/unit/common/cyPopperExtender.test.ts
  tests/unit/common/cyStyleSheetFactory.test.ts
  tests/unit/common/dagFactory.test.ts
Due: eslint --fix, prettier --write

refactor(dag): add dag mutators for id name and merge
  src/compiler/dag.ts
  tests/unit/compiler/dag.test.ts
Due: eslint --fix, prettier --write

refactor(astToDag): move makeSubDag helpers out of function
  src/compiler/astToDag.ts
Due: eslint --fix, prettier --write

refactor(importerTest): concise fetch mocker
  tests/unit/compiler/importCacher.test.ts
Due: eslint --fix, prettier --write

feat(importer): add import traverser for debugging
  src/compiler/astUtility.ts
  src/compiler/driver.ts
  src/compiler/importCacher.ts
  tests/unit/compiler/astUtility.test.ts
  tests/unit/compiler/importCacher.test.ts
Due: eslint --fix, prettier --write

refactor(ast): rename formatValue to debugDump
  src/App.vue
  src/compiler/ast.ts
Due: eslint --fix, prettier --write

feat: allow import assignment
  package-lock.json
  package.json
  src/compiler/ast.ts
  src/compiler/astFactory.ts
  src/compiler/dagFactory.ts
  tests/unit/compiler/astFactory.test.ts
  tests/unit/compiler/dagFactory.test.ts
Due: eslint --fix, prettier --write

fix(editorToAst): long parse trees no longer prematurely truncated
  src/compiler/driver.ts
  src/compiler/editorToAst.ts
  tests/unit/compiler/editorToAst.test.ts
Due: eslint --fix, prettier --write

feat(astToDag): add import statements
  src/compiler/astToDag.ts
  src/compiler/driver.ts
  tests/unit/compiler/astToDag.test.ts
Due: eslint --fix, prettier --write

refactor: rename test dir common to compiler
  tests/unit/compiler/astToDag.test.ts
  tests/unit/compiler/dag.test.ts
  tests/unit/compiler/dagToCyGraph.test.ts
  tests/unit/compiler/dagToCyPopperExtension.test.ts
  tests/unit/compiler/dagToCyStyleSheets.test.ts
  tests/unit/compiler/driver.test.ts
  tests/unit/compiler/editorToAst.test.ts
Due: eslint --fix, prettier --write

feat(dag): add used imports to dag dump
  src/compiler/dag.ts
  src/compiler/dagFactory.ts
  tests/unit/compiler/importCacher.test.ts
Due: eslint --fix, prettier --write

test(importer): add negative test cases for import
  tests/unit/compiler/astToDag.test.ts
  tests/unit/compiler/importCacher.test.ts
Due: eslint --fix, prettier --write

ci(lint): add lint ignore file
  .prettierignore
Due: none

build: switch to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(husky): update git hooks to pnpm
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

build: define required pnpm version
  .prettierignore
  package.json
Due: prettier --write

ci: update ci to use pnpm
  .github/workflows/build.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(GraphView): update to latest cytoscape-popper version
  package.json
  pnpm-lock.yaml
  src/components/GraphView.vue
Due: eslint --fix, prettier --write

refactor(GraphView): switch popper to floating-ui
  package.json
  pnpm-lock.yaml
  src/compiler/cyPopperExtender.ts
  src/components/GraphView.vue
Due: eslint --fix, prettier --write

build: update to eslint 9
  .eslintignore
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

style: address eslint errors
  eslint.config.mjs
  src/App.vue
  src/compiler/dag.ts
  src/components/GraphView.vue
  src/main.ts
Due: eslint --fix, prettier --write

refactor(compiler): refactor compiler to hide input type handlers
  src/App.vue
  src/compiler/driver.ts
  src/compiler/importCacher.ts
  tests/unit/compiler/astFactory.test.ts
  tests/unit/compiler/driver.test.ts
  tests/unit/compiler/importCacher.test.ts
Due: eslint --fix, prettier --write

style(tests): test files use non-relative module names
  package.json
  pnpm-lock.yaml
  tests/unit/compiler/astFactory.test.ts
  tests/unit/compiler/astUtility.test.ts
  tests/unit/compiler/cyGraphFactory.test.ts
  tests/unit/compiler/cyPopperExtender.test.ts
  tests/unit/compiler/cyStyleSheetsFactory.test.ts
  tests/unit/compiler/dag.test.ts
  tests/unit/compiler/dagFactory.test.ts
  tests/unit/compiler/driver.test.ts
  tests/unit/compiler/importCacher.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix(ast): remove reference side effect in debugDumpTree
  src/compiler/ast.ts
  tests/unit/compiler/ast.test.ts
Due: eslint --fix, prettier --write

style: update favicon logo
  favicon.ico
Due: none

feat(toolbar): add app title to toolbar
  assets/formulavize_logo.svg
  index.html
  src/App.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

feat(toolbar): add debugMode toggle button
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/OperatorsView.vue
  src/components/ToolBar.vue
  src/main.ts
Due: eslint --fix, prettier --write
