Repository formulavize/formulavize: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss,html,yml,yaml}": ["prettier --write"]
}

feat(toolbar): add view github button
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

refactor(cyPopperExtender): pass canvas element into cyPopperExtender
  src/compiler/cyPopperExtender.ts
  src/components/GraphView.vue
Due: eslint --fix, prettier --write

style(toolbar): organize buttons into button group
  src/App.vue
  src/compiler/constants.ts
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

fix(ui): repaint GraphView on toggling debugMode
  src/App.vue
Due: eslint --fix, prettier --write

feat(GraphView): add basic image export
  src/App.vue
  src/compiler/constants.ts
  src/components/GraphView.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

feat(GraphView): add svg image export
  package.json
  pnpm-lock.yaml
  src/compiler/constants.ts
  src/components/GraphView.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

refactor(GraphView): node positioning toggle as component property
  src/compiler/cyPopperExtender.ts
  src/components/GraphView.vue
Due: eslint --fix, prettier --write

feat(ExportOptionsPopup): add export options popup
  src/App.vue
  src/components/ExportOptionsPopup.vue
  src/components/GraphView.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

fix(ExportOptionsPopup): correct file name length validation message
  src/components/ExportOptionsPopup.vue
Due: eslint --fix, prettier --write

style(ExportOptionsPopup): rename rule parameters descriptively
  src/components/ExportOptionsPopup.vue
Due: eslint --fix, prettier --write

feat(toolbar): add app title to toolbar
  assets/formulavize_logo.svg
  index.html
  src/App.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

style: update favicon logo
  favicon.ico
Due: none

feat(toolbar): add debugMode toggle button
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/OperatorsView.vue
  src/components/ToolBar.vue
  src/main.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(workflows): update pnpm and node version in github workflow
  .github/workflows/build.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: prettier --write

fix(ExportOptionsPopup): add spacing between icons and text
  src/components/ExportOptionsPopup.vue
Due: eslint --fix, prettier --write

refactor(ExportOptionsPopup): swap export popup button positions
  src/components/ExportOptionsPopup.vue
Due: eslint --fix, prettier --write

feat(OptionsPopup): add an OptionsPopup component
  src/App.vue
  src/components/OptionsPopup.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

chore(deps): downgrade cytoscape to remedy types mismatch
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(ToolBar): button clicks to emit events directly
  src/App.vue
  src/components/ToolBar.vue
Due: eslint --fix, prettier --write

refactor(ExportOptionsPopup): move popup visibility state into App.vue
  src/App.vue
  src/components/ExportOptionsPopup.vue
Due: eslint --fix, prettier --write

feat(TextEditor): add tab to indent toggle option
  src/App.vue
  src/components/OptionsPopup.vue
  src/components/TextEditor.vue
Due: eslint --fix, prettier --write

fix(OptionsPopup): constrain max width of option popup
  src/components/ExportOptionsPopup.vue
  src/components/OptionsPopup.vue
Due: eslint --fix, prettier --write

feat(OptionsPopup): add Esc key message to Tab to Indent checkbox
  src/components/OptionsPopup.vue
Due: eslint --fix, prettier --write

chore(deps): install vue-router dep
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(tsconfig): bypass upstream type to unblock build
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore(deps): install eslint-config-prettier
  package.json
  pnpm-lock.yaml
Due: prettier --write
