Repository formulavize/formulavize: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add cjs to lintstagedrc
  .lintstagedrc.json
Due: prettier --write

chore: rename commitlintrc file
  .commitlintrc.cjs
Due: none

docs: add commitizen friendly badge to README
  README.md
Due: prettier --write

ci(release): add release automation
  .github/workflows/release-please.yml
Due: prettier --write

add changelog and release automation (#9)
  .commitlintrc.cjs
  .cz.json
  .github/workflows/release-please.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
Due: prettier --write

ci: refactor release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(workflows): add linting workflows
  .github/workflows/lint.yml
  package.json
Due: prettier --write

ci(workflows): add test runner workflow
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write

ci(workflows): add build workflow
  .github/workflows/build.yaml
Due: prettier --write

ci(workflows): add PR title linting
  .github/workflows/lint-pr-title.yml
Due: prettier --write

chore(workflows): add name in release workflow
  .github/workflows/release-please.yml
Due: prettier --write

chore: add vitest coverage
  package-lock.json
  package.json
Due: prettier --write

ci: add basic ci checks (#10)
  .github/workflows/build.yaml
  .github/workflows/lint-pr-title.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write

refactor(editor): make debounce delay configurable
  package-lock.json
  package.json
  src/App.vue
  src/components/TextEditor.vue
Due: eslint --fix, prettier --write

refactor(editor): make debounce delay configurable (#11)
  package-lock.json
  package.json
  src/App.vue
  src/components/TextEditor.vue
Due: eslint --fix, prettier --write

chore(release): mark a stable version
  package-lock.json
  package.json
Due: prettier --write

chore(package): update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update lang-fiz to 0.2.0
  package-lock.json
  package.json
Due: prettier --write

fix(ast): add qualified identifers for calls
  src/common/astFactory.ts
Due: eslint --fix, prettier --write

fix(ast): add qualified identifers for RhsVariable
  src/common/astFactory.ts
Due: eslint --fix, prettier --write

fix(ast): add qualified identifiers for StyleTag
  src/common/astFactory.ts
Due: eslint --fix, prettier --write

refactor(ast): rename astFactory methods to start with make
  src/common/astFactory.ts
Due: eslint --fix, prettier --write

refactor(ast): generalize makeNullableChild beyond nodes
  src/common/astFactory.ts
Due: eslint --fix, prettier --write

refactor(ast): simplify recipe statement processing
  package-lock.json
  package.json
  src/App.vue
  src/common/astFactory.ts
  tests/unit/common/astFactory.test.ts
Due: eslint --fix, prettier --write

feat(ast): add VariableTreeNode as a Statement
  src/common/ast.ts
  src/common/astFactory.ts
  tests/unit/common/astFactory.test.ts
Due: eslint --fix, prettier --write

feat(ast): add namespace to ast
  package-lock.json
  package.json
  src/common/ast.ts
  src/common/astFactory.ts
  tests/unit/common/astFactory.test.ts
Due: eslint --fix, prettier --write

feat(dag): add basic subdag to dag
  src/common/ast.ts
  src/common/constants.ts
  src/common/dag.ts
  src/common/dagFactory.ts
  tests/unit/common/dagFactory.test.ts
Due: eslint --fix, prettier --write

refactor(dag): move namespace state into NamespaceContext class
  src/common/dagFactory.ts
Due: eslint --fix, prettier --write

feat(cyGraph): add basic namespace visualization
  src/common/cyGraphFactory.ts
  src/common/dag.ts
  src/components/GraphView.vue
  tests/unit/common/cyGraphFactory.test.ts
  tests/unit/common/cyPopperExtender.test.ts
Due: eslint --fix, prettier --write

feat(cyGraph): add scoped Cytoscape StyleSheets
  src/common/cyGraphFactory.ts
  src/common/dag.ts
  tests/unit/common/cyGraphFactory.test.ts
  tests/unit/common/dag.test.ts
Due: eslint --fix, prettier --write

refactor(cyGraph): separate cyGraph from StyleSheet creation
  src/common/cyGraphFactory.ts
  src/common/cyStyleSheetsFactory.ts
  src/components/GraphView.vue
  tests/unit/common/cyGraphFactory.test.ts
  tests/unit/common/cyStyleSheetFactory.test.ts
Due: eslint --fix, prettier --write

refactor(dag): consolidate makeSubDag parameters
  src/common/dagFactory.ts
Due: eslint --fix, prettier --write

feat(cyGraph): add styling to namespaces
  src/common/cyGraphFactory.ts
  src/common/cyStyleSheetsFactory.ts
  src/common/dag.ts
  src/common/dagFactory.ts
  tests/unit/common/cyGraphFactory.test.ts
  tests/unit/common/cyStyleSheetFactory.test.ts
  tests/unit/common/dag.test.ts
Due: eslint --fix, prettier --write

refactor(ast): remove qualifiable call identifiers
  package-lock.json
  package.json
  src/common/astFactory.ts
Due: eslint --fix, prettier --write

refactor: propagate qualifiable identifiers through
  src/common/ast.ts
  src/common/astFactory.ts
  src/common/cyStyleSheetsFactory.ts
  src/common/dag.ts
  src/common/dagFactory.ts
  tests/unit/common/astFactory.test.ts
  tests/unit/common/cyGraphFactory.test.ts
  tests/unit/common/cyStyleSheetFactory.test.ts
  tests/unit/common/dagFactory.test.ts
Due: eslint --fix, prettier --write

refactor(dag): move variable names into dag class
  src/common/cyPopperExtender.ts
  src/common/dag.ts
  src/common/dagFactory.ts
  tests/unit/common/cyPopperExtender.test.ts
  tests/unit/common/cyStyleSheetFactory.test.ts
Due: eslint --fix, prettier --write

fix(cyPopperExtender): add description poppers in subdags
  src/common/cyPopperExtender.ts
  tests/unit/common/cyPopperExtender.test.ts
Due: eslint --fix, prettier --write

feat(cyPopperExtender): add description poppers for dag nodes
  src/common/cyPopperExtender.ts
  src/common/dag.ts
  tests/unit/common/cyPopperExtender.test.ts
Due: eslint --fix, prettier --write

refactor: increase log level for error conditions
  src/common/astFactory.ts
  src/common/cyStyleSheetsFactory.ts
  src/common/dag.ts
  src/common/dagFactory.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: (any of: *.{js,jsx,ts,tsx,vue}) or (any of: *.{json,md,css,scss,html,yml,yaml})
